<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCJPhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5FC9AEA1C23F75B00EDF527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FC9B031C23F75B00EDF527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FC9B0E1C23F75B00EDF527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
